body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
  background-color: beige;
}
h1 {
  letter-spacing: 3px;
}
.result {
  display: block;
  flex-basis: 600px;
}

.img {
  /* display: block; */
  border-radius: 10px;
}
.result {
  margin: 5px;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 10px;
  padding: 10px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  color: rgb(238, 222, 4);
  background: #329452;
  transition: 0.3s;
}
.btn:hover {
  background: #2d613e;
}
.input,
.input-two {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
  width: 210px;
  padding: 7px;
  outline: none;
  border: 1px solid #2d613e;
  border-radius: 3px;
  margin-bottom: 15px;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button,
.input-two::-webkit-outer-spin-button,
.input-two::-webkit-inner-spin-button{
	display: none;
}
.input::placeholder,
.input-two::placeholder {
  color: #329452;
}