@font-face {
  font-family: 'Impact', sans-serif;
  src: local("Impact"), 
  url(./fonts/Impact.woff2) format('woff2'),
  url(./fonts/Impact.woff) format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: 'Impact', sans-serif;
  font-size: 24px;
  background-color: rgb(134, 157, 168);
}
li{
  list-style: none;
}
h1 {
  letter-spacing: 3px;
}
.result {
  margin-bottom: 10px;
}
.posts {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  justify-items: start;
  align-items: center;
  justify-content: start;
  grid-auto-flow: dense;
  gap: 5px 15px;
  padding: 0;
  margin: 0;
}
.img{
  border-radius: 10px;
  width: 250px;
  height: 250px;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 10px;
  padding: 10px 15px;
  border-radius: 10px;
  font-family: 'Impact', sans-serif;
  text-transform: uppercase;
  color: rgb(2, 2, 0);
  background: #03ec51;
  transition: .5s;
}
.btn:hover {
  background: #2d613e;
}
.input {
  font-family: 'Impact', sans-serif;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
  width: 210px;
  padding: 7px;
  outline: none;
  border: none;
  border-radius: 3px;
  margin-bottom: 15px;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
	display: none;
}
.input::placeholder {
  color: #000000;
  opacity: .5;
}
